<div id="data_input" style="justify-content: center;">

  <div id="single_entry">
    <form method="post">
      <div class="input">
        <label for="tel">Telephone Number</label>
        <input type="text" name="tel" id="tel">
      </div>
      <div class="input">
        <label for="cellID">Cell ID</label>
        <input type="number" name="cellID" id="cellID">
      </div>
      <div class="input">
        <label for="baseID">Base ID</label>
        <input type="number" name="baseID" id="baseID">
      </div>
      <div class="input">
        <label for="lastCellID">Last Cell ID</label>
        <input type="number" name="lastCellID" id="lastCellID">
      </div>
      <div class="input">
        <label for="baseID">Last Base ID</label>
        <input type="number" name="lastBaseID" id="lastBaseID">
      </div>
      <div class="input">
        <label for="connStatus"></label>
        <input type="radio" name="connStatus" id="connStatus">
      </div>

      <input type="reset" class="btn" value="Clear">
      <input type="submit" class="btn" value="Submit">
    </form>

  </div>

  <div id="csv_entry">
    <form method="post">

      <label for="csv">Enter File</label>
      <input type="submit" value="Browse" id="csv" name="csv">
    </form>
  </div>
</div>