<div id="data-input">
  <h4>Enter Client Information Below</h4>
  <div id="single_entry">
    <form method="post" action="/client">
      <div class="input">
        <label for="tel">Telephone Number</label>
        <input type="text" name="tel" id="tel">
      </div>
      <div class="input">
        <label for="cellID">Cell ID</label>
        <input type="number" name="cellID" id="cellID">
      </div>
      <div class="input">
        <label for="baseID">Base ID</label>
        <input type="number" name="baseID" id="baseID">
      </div>
      <div class="input">
        <label for="connStatus">Connection Status</label>
        <input type="radio" name="connStatus" id="connStatus">
      </div>
      <div class="input">
        <label for="category">Client Category</label>
        <input type="text" name="category" id="category">
      </div>
      <div class="input">
        <label for="latitude">Latitude</label>
        <input type="number" name="latitude" id="latitude" step="any" max="90" min="-90" placeholder="-90>= lat >=90">
      </div>
      <div class="input">
        <label for="longitude">Longitude</label>
        <input type="number" name="longitude" id="longitude" step="any" max="180" min="-180"
          placeholder="-180>= lng >=180">
      </div>


      <input type="reset" class="btn" value="Clear">
      <input type="submit" class="btn" value="Submit">
    </form>

  </div>

  <div id="csv-entry">
    <form method="post" action="/clients" enctype="multipart/form-data">
      <label for="csv">Enter File</label>
      <input type="file" class="csv-field" name="csv">
      <input type="submit" value="Upload" class="btn">
    </form>
  </div>
</div>