<div id="data-input">
  <h4>Enter Carrier Network Information Below</h4>
  <div id="single_entry">
    <form method="post" action="/carrier">
      <div class="input">
        <label for="carrierID">Carrier ID: </label>
        <input type="text" id="carrierID" name="carrierID">
      </div>
      <div class="input">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
      </div>

      <input type="reset" class="btn" value="Clear">
      <input type="submit" class="btn" value="Submit">

    </form>
  </div>

  <div id="csv-entry">
    <form>
      <label for="csv">Enter the csv file</label>
      <input type="file" id="csv" name="csv" class="csv-field">
      <input type="submit" class="btn">
    </form>
  </div>

</div>