body {
  background-color: #CBB69F;
}

hr {
  border-width: 2px;
  border-color: #17120E;
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  border: 1px solid #17120E;
}

th {
  border: 1px solid #17120E;
}

td {
  border: 1px solid #17120E;
}

label {
  width: 120px;
  margin-right: 50px;
}

#hero {
  background-image: url("../images/coins.webp");
  background-size: cover;
  height: 150px;
  margin-bottom: 5px;
}

#nav-pane {
  text-align: center;
  margin-top: 10px;
}

#content {
  display: flex;
  justify-content: center;
}

#site-nav {
  background-color: #17120E;
  color: #CBB69F;
  width: 20%;
  height: 260px;
  padding: 30 10 30 10;
  margin-right: 5px;
  text-align: center;
  border: 2px dotted black;
}

#main-content {
  width: 80%;
  padding: 50px;
  margin-left: 5px;
  color: #222222;
}

#contact-info {
  color: #CBB69F;
  text-align: center;
}

#footer {
  background-color: #17120E;
  margin-top: auto;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  position: fixed;
}

.list-vertical {
  display: block;
}

.list-horizontal {
  display: inline;
}

.btn {
  height: 30px;
  width: 150px;
  padding: 10 25 10 25;
  margin: 5 5 5 5;
  border: 0px transparent;
  font-family: monospace;
  color: #CBB69F;
  background-color: #4a2f20;
}

.tag {
  color: #CBB69F;
}

#reg {
  width: 70%;
  padding-top: 90px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17120E;
  color: #CBB69F;
}

.input {
  display: flex;
}