body {
  background-color: #CAF0F8;
}

hr {
  border-width: 2px;
  border-color: #17120E;
  margin-top: 15px;
  margin-bottom: 15px;
}

#hero {
  height: 50px;
  margin-bottom: 5px;
}

#nav-pane {
  text-align: center;
  margin-top: 10px;
}

#content {
  display: flex;
  justify-content: center;
}

#blank {
  display: block;
  align-items: center;
  text-align: center;
  image-resolution: 10px, 10px;
}

#site-nav {
  background-color: #4F5D75;
  color: #1e1c1a;
  width: 20%;
  height: 450px;
  padding: 30 10 30 10;
  margin-right: 5px;
  text-align: center;
  border-radius: 25px;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 50px;
  margin-left: 5px;
  background-color: #4F5D75;
  border-radius: 25px 0px 0px 25px;
}

#csv-entry {
  margin-top: 50px;
}

#csv-field {
  width: 50px;
}

.list-vertical {
  display: block;
}

.list-horizontal {
  display: inline;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #17120E;
  border-radius: 50px;
  display: inline-block;
  align-items: end;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 150px;
  padding: 10 25 10 25;
  margin: 5 5 5 5;
  border-radius: 15px;
  border: 0px transparent;
  font-family: monospace;
  color: #CBB69F;
  background-color: #212227;
}

.highlight {
  background-color: #2d535b;
  color: #17120E;
}

.input {
  display: flex;
  justify-content: space-between;
}

#map {
  height: 350px;
  width: 800px;
  background-color: gray;
}

#broadcast-form {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

/* General table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #f5f5f5;
}

/* Table header styling */
table th {
  background-color: #f5f5f5;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  color: #17120E
}

/* Table row styling */
table tr {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #17120E
}

/* Table cell styling */
table td {
  padding: 10px;
}